root = true

[*]
indent_size = 4
charset = utf-8
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space

[{.*rc,ts*.json,package.json}]
indent_size = 2

[*.{yaml,yml,md}]
indent_size = 2

[{packages/compartment/src/utils/system.js,packages/static-module-record-swc/tests}]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
