name: Linters and tests

on:
  push

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npx prettier@2.6.2 --check .
  editorconfig:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: DimensionDev/setup-editorconfig-action@latest
      - run: editorconfig-checker
  anti-trojan-source:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
      - run: npx anti-trojan-source --files='packages/**/src/**/*.{ts,js}'
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "17"
          cache: "pnpm"
      - uses: pnpm/action-setup@v2
      - run: pnpm install
      - run: pnpm run build
